<%- include("header") -%>

<h1 class="box" id="heading">About</h1>
<div class="box">
    <p>This is a beautiful To-Do list created using HTML, CSS, JavaScript (Node, Express, EJS)</p>
</div>

<%- include("footer") -%>
